<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/myweb/public/css/style.css">
    {{>head}}
    <title>Gallary</title>
</head>
<body>
    {{>navbar data=detail}}
    <h1>{{detail.BrandName}}</h1>
    <img src="/myweb/public/images/download.jpg" alt="myimage">
    
</body>
</html>